YONSEI_COOKIE=JSESSIONID=YOUR_SESSION; NetFunnel_ID=YOUR_NETFUNNEL
YONSEI_REFERER=https://underwood1.yonsei.ac.kr/com/lgin/SsoCtr/initExtPageWork.do?link=handbList&locale=ko
ENABLE_BROWSER_BOOTSTRAP=false
BROWSER_BOOTSTRAP_ON_START=false
BROWSER=headless
BROWSER_BOOTSTRAP_TIMEOUT_MS=30000
BROWSER_READY_SELECTOR=
BROWSER_CLICK_SELECTOR=
AUTO_INSTALL_PLAYWRIGHT_BROWSER=true
YONSEI_SESSION_REFRESH_RETRIES=1
K_UNIV_MCP_OUTPUT_DIR=out
K_UNIV_MCP_TRANSPORT=stdio
